<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1 id='projectTitle'></h1>
    </header>
    <center> 
      <div id='testui' style='margin-left: 5%'>
        <h3>Submit a new issue:</h3>
        <form id="newIssue" method="post" action="/api/">
          <input type="text" name="issue_title" placeholder="*Title" style="width: 320px; margin-bottom: 3px;" required=''><br>
          <textarea type="text" name="issue_text" placeholder="*Text" style="width: 320px; height: 100px;" required=''></textarea><br>
          <input type="text" name="created_by" placeholder="*Created by" style="width: 100px" required=''>
          <input type="text" name="assigned_to" placeholder="(opt)Assigned to" style="width: 100px">
          <input type="text" name="status_text" placeholder="(opt)Status text" style="width: 100px"><br>
          <button type="submit">Submit Issue</button>
        </form>
        <form id="testForm2" class="border">
          <h3>Edit issue</h3>
          <input type="text" name="_id" placeholder="*_id" style="width: 100px" required=''><br>
          <input type="text" name="issue_title" placeholder="(opt)Title" style="width: 100px"><br>
          <textarea type="text" name="issue_text" placeholder="(opt)Text" style="width: 100px"></textarea><br>
          <input type="text" name="created_by" placeholder="(opt)Created by" style="width: 100px"><br>
          <input type="text" name="assigned_to" placeholder="(opt)Assigned to" style="width: 100px"><br>
          <input type="text" name="status_text" placeholder="(opt)Status text" style="width: 100px"><br>
          <label><input type="checkbox" name="open"> Check to close issue</label><br>
          <button type="submit">Submit Issue</button>
        </form>
        <h3>Delete issue on <i>apitest</i></h3>
        <form id="testForm3" class="border">
          <input type="text" name="_id" placeholder="_id" style="width: 100px"><br>
          <button type="submit">Delete Issue</button>
        </form>
        <code id='jsonResult'></code>
      </div>
      
      <hr style='margin: 50px; margin-top: 200px'>
      <div class="filters">
          <h3>
            Filter Issues
          </h3>
        <form id="filter-form" method="post">
          <div class="filter filter-title">
            <label>Title</label>
            <input type="text" id="filter-title"name="title"/>
          </div>
          <div class="filter filter-text">
            <label>Text</label>
            <input type="text" id="filter-text"name="text"/>
          </div>
          <div class="filter filter-author">
            <label>Author</label>
            <input type="text" id="filter-author"name="author"/>
          </div>
          <div class="filter filter-assignee">
            <label>Assignee</label>
            <input type="text" id="filter-assignee"name="assignee"/>
          </div>
          <div class="filter filter-status-text">
            <label>Status Text</label>
            <input type="text" id="filter-status-text" name="statusText"/>
          </div>
          <div class="filter filter-created-on">
            <label>Created On</label>
            <input type="text" id="filter-created-on" name="created-on"/>
          </div>
          <div class="filter filter-updated-on">
            <label>Updated On</label>
            <input type="text" id="filter-updated-on" name="updated-on"/>
          </div>
          <div class="filter-open">
            <label>Open</label>
            <input type="checkbox" id="filter-open" name="open"/>
          </div>
          <button type="submit" id="filter-submit">Filter</button>
        </form>
        </div>
      <div id='issueDisplay'></div>
    </center>
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        var currentProject = window.location.pathname.replace(/\//g, "");
        var url = "/api/issues/"+currentProject;
        var issues = [];
        $('#projectTitle').text('All issues for: '+currentProject);
        $.ajax({
          type: "GET",
          url: url,
          success: function(data)
          {
            data.forEach(function(ele) {
              var openstatus;
              (ele.open) ? openstatus = 'open' : openstatus = 'closed';
              var single = [
                '<div class="issue '+openstatus+'">',
                '<p class="id">id: '+ele._id+'</p>',
                '<h3>'+ele.title+' -  ('+openstatus+')</h3>',
                '<br>',
                '<p>'+ele.text+'</p>',
                '<p>'+ele.statusText+'</p>',
                '<br>',
                '<p class="id"><b>Created by:</b> '+ele.author+'  <b>Assigned to:</b> '+ele.assignee,
                '<p class="id"><b>Created on:</b> '+ele.author+'  <b>Last updated:</b> '+ele.updatedOn,
                '<br><a href="#" class="closeIssue" id="'+ele._id+'">close?</a> <a href="#" class="deleteIssue" id="'+ele._id+'">delete?</a>',
                '</div>'
              ];
              issues.push(single.join(''));
            });
            $('#issueDisplay').html(issues.join(''));
          }
        });
        
        
          
        $('#filter-form').submit(function(e) {
          e.preventDefault();
          $.ajax({
            url: url + '/filters',
            type: 'post',
            data: $(this).serialize(),
            success: function(data) {
              console.log('#filter-form',data);
              issues = data.issues;
              $('#issueDisplay').html(issues);
            }
          });
        })
        
        $('#newIssue').submit(function(e){
          e.preventDefault();
          $(this).attr('action', "/api/issues/" + currentProject);
          $.ajax({
            type: "POST",
            url: url,
            data: $(this).serialize(),
            success: function(data) {
              const assignee = data._doc.assignee == '' ? 'no one' : data._doc.assignee;
              const updated = data._doc.updatedOn == null ? 'not updated' : data._doc.updatedOn
              const openStatus = data._doc.open == false ? 'open' : 'closed';
              const formatNewIssue = `
                <div class="project-container">
                  <h1>${data._doc.title} </h1>
                  <p>${data._doc.text}</p>
                  <p>assigned to: ${assignee}</p>
                  <p><input type="checkbox" id="issueCheckbox"/> status: ${openStatus}</p>
                  <small>Created by: ${data._doc.author} / created: ${data._doc.createdOn} / updated: ${updated} / issue ID: ${data.id}</small>
                </div>`;
              issues.push(formatNewIssue)
              $('#issueDisplay').html(issues.join(''));
            },
            error: (data) => {
              const jsonParsed = JSON.parse(data.responseText);
              $('#issueDisplay').html('');
              $('#issueDisplay').prepend('<h1>Status '+data.status+ ' ' + data.statusText+'</h1>')
              for(let i in jsonParsed.errors) {
                $('#issueDisplay').append('<h2>'+jsonParsed.errors[i].message+'</h2>');
              }
            }
          });
        });    
        
        $('#issueDisplay').on('click','.closeIssue', function(e) {
          // var url = "/api/issues/"+currentProject;
          console.log($(this))
          var $this = $(this);
          $.ajax({
            type: "PUT",
            url: url,
            data: {_id: $(this).attr('id'), open: true},
            success: function(data) { 
              $this.closest('div.issue').addClass('closed').removeClass('open');
            },
            error: function(data) {
              console.log('issue.html PUT error', data);
            }
          });
          e.preventDefault();
        });

        $('#issueDisplay').on('click','.deleteIssue', function(e) {
          var url = "/api/issues/"+currentProject;
          e.preventDefault();

          $.ajax({
            type: "DELETE",
            url: url,
            data: {_id: $(this).attr('id')},
            success: function(data) {
              removeIssueFromDom(e.target.id);
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
        });
        
        const removeIssueFromDom = (target) => {
          issues.forEach(issue => {
            /*
              each issue is a string of DOM nodes, so find the issue that has a matching ID

              make sure it exists and that we are not
              targeting any other strings

              get the indexOf that issue in the issues array

              splice that issue from the array

              update the dom with the new issues array
            */
            let i = issue.indexOf(target)
            if (i != -1) {
              let issuesIndex = issues.indexOf(issue);
              issues.splice(issuesIndex, 1);
              $('#issueDisplay').html(issues.join(''));
            }
          });
        }
        
        $('#testForm2').submit(function(e) {
          e.preventDefault();
          $.ajax({
            url: url,
            type: 'put',
            data: $('#testForm2').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));

            }
          });
        });
        
        
        $('#testForm3').submit(function(e) {
          e.preventDefault();
          $.ajax({
            url: url,
            type: 'delete',
            data: $('#testForm3').serialize(),
            success: function(data) {
              if (data !== '_id error') {
                removeIssueFromDom(e.target[0].value);
              }
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
        });
      });
   </script>
  </body>
</html>