<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1 id='projectTitle'></h1>
    </header>
    <center>
      <div id='jsonResult' class="issue-notification"></div>
      <div id='testui' class="issue-forms-container">
        <div class="ifc__form">
          <form id="newIssue" method="post" action="/api/">
            <h3>Submit a new issue</h3>
            <input type="text" name="issue_title" placeholder="*Title" required=''><br>
            <textarea type="text" name="issue_text" placeholder="*Text" required=''></textarea><br>
            <input type="text" name="created_by" placeholder="*Created by" required=''>
            <input type="text" name="assigned_to" placeholder="(opt)Assigned to">
            <input type="text" name="status_text" placeholder="(opt)Status text"><br>
            <button type="submit" class="submit">Create Issue</button>
          </form>
        </div>
        <div class="ifc__form"> 
          <form id="testForm2" class="form-edit">
            <h3>Edit issue</h3>
            <input type="text" name="_id" placeholder="*_id" required=''><br>
            <input type="text" name="issue_title" placeholder="(opt)Title"><br>
            <textarea type="text" name="issue_text" placeholder="(opt)Text"></textarea><br>
            <input type="text" name="created_by" placeholder="(opt)Created by"><br>
            <input type="text" name="assigned_to" placeholder="(opt)Assigned to"><br>
            <input type="text" name="status_text" placeholder="(opt)Status text"><br>
            <div class="checkbox">
              <label>Check to close issue</label>
              <input type="checkbox" name="open"> 
            </div>
            <button type="submit" class="submit">Submit Issue</button>
          </form>
          <form id="testForm3" class="border">
            <h3>Delete issue</h3>
            <input type="text" name="_id" placeholder="_id"><br>
            <button type="submit" class="submit">Delete Issue</button>
          </form>
        </div>
        <div class="filters">
          <h3>
            Filter Issues
          </h3>
        <form id="filter-form" method="post">
          <div class="filter filter-title">
            <label>Title</label>
            <input type="text" id="filter-title" class="filter-input" name="title"/>
          </div>
          <div class="filter filter-text">
            <label>Text</label>
            <input type="text" id="filter-text" class="filter-input" name="text"/>
          </div>
          <div class="filter filter-author">
            <label>Author</label>
            <input type="text" id="filter-author" class="filter-input" name="author"/>
          </div>
          <div class="filter filter-assignee">
            <label>Assignee</label>
            <input type="text" id="filter-assignee" class="filter-input" name="assignee"/>
          </div>
          <div class="filter filter-status-text">
            <label>Status Text</label>
            <input type="text" id="filter-status-text" class="filter-input" name="statusText"/>
          </div>
          <div class="filter filter-created-on">
            <label>Created On</label>
            <input type="text" id="filter-created-on" class="filter-input" name="created-on"/>
          </div>
          <div class="filter filter-updated-on">
            <label>Updated On</label>
            <input type="text" id="filter-updated-on" class="filter-input" name="updated-on"/>
          </div>
          <div class="filter-open checkbox">
            <label>Open</label>
            <input type="checkbox" id="filter-open" class="filter-checkbox" name="open"/>
          </div>
          <button type="submit" id="filter-submit" class="submit">Filter</button>
          <button type="submit" id="filter-clear" class="submit">Clear</button>
        </form>
        </div>
        <div id='newIssueDisplay' class="new-issue-display"></div>
      </div>
      
      <hr style='margin: 50px; margin-top: 200px'>
      <div id='issueDisplay' class="issue-display"></div>
    </center>
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        var currentProject = window.location.pathname.replace(/\//g, "");
        var url = "/api/issues/"+currentProject;
        var issues = [];
        
        // takes array and returns string
        const formatIssues = (filteredIssues) => {
          // console.log('formatIssues', filteredIssues)
          let fi = filteredIssues.map(filteredIssue => {
            var openstatus;
                (filteredIssue.open) ? openstatus = 'open' : openstatus = 'closed';
                var single = [
                  '<div class="issue '+openstatus+'">',
                  '<p class="id">id: '+filteredIssue._id+'</p>',
                  '<h3>'+filteredIssue.title+' -  ('+openstatus+')</h3>',
                  '<br>',
                  '<p>'+filteredIssue.text+'</p>',
                  '<p>'+filteredIssue.statusText+'</p>',
                  '<br>',
                  '<p class="id"><b>Created by:</b> '+filteredIssue.author+'  <b>Assigned to:</b> '+filteredIssue.assignee,
                  '<p class="id"><b>Created on:</b> '+filteredIssue.createdOn+'  <b>Last updated:</b> '+filteredIssue.updatedOn,
                  '<br><a href="#" class="closeIssue" id="'+filteredIssue._id+'">close?</a> <a href="#" class="deleteIssue" id="'+filteredIssue._id+'">delete?</a>',
                  '</div>'
                ];
                return single.join('');
          })
          return fi.join('');
        }

         const closeNotification = () => {
          $('#jsonResult').click(function(index, item) {
            $('#jsonResult').html('')
          })
        }
         closeNotification();
        
        // takes string and returns html as string
        const formatNotification = (string) => {
          return '<div class="notification-content">'+string+'<span class="close-notification">X</span></div>'
        }
        

        // GET
        // displays on page load
        $.ajax({
          type: "GET",
          url: url,
          success: function(data)
          {
            data.issues.forEach(function(ele) {
              var openstatus;
              (ele.open) ? openstatus = 'open' : openstatus = 'closed';
              var single = [
                '<div class="issue '+openstatus+'">',
                '<p class="id">id: '+ele._id+'</p>',
                '<h3>'+ele.title+' -  ('+openstatus+')</h3>',
                '<br>',
                '<p>'+ele.text+'</p>',
                '<p>'+ele.statusText+'</p>',
                '<br>',
                '<p class="id"><b>Created by:</b> '+ele.author+'  <b>Assigned to:</b> '+ele.assignee,
                '<p class="id"><b>Created on:</b> '+ele.createdOn+'  <b>Last updated:</b> '+ele.updatedOn,
                '<br><a href="#" class="closeIssue" id="'+ele._id+'">close?</a> <a href="#" class="deleteIssue" id="'+ele._id+'">delete?</a>',
                '</div>'
              ];
              issues.push(single.join(''));
            });
            $('#projectTitle').text('All issues for: '+data.title);
            $('#issueDisplay').html(issues.join(''));
          }
        });
                
        // GET
        // reset display from filters
        $('#filter-clear').click(function(e) {
          e.preventDefault();
          $.ajax({
            url: url,
            type: 'get',
            success: function(data) {
              $('#issueDisplay').html(formatIssues(data.issues));
              $('.filter-input').val('');
            }
          });
        });
        
        // POST
        // filter issues
        $('#filter-form').submit(function(e) {
          e.preventDefault();
          $.ajax({
            url: url + '/filters',
            type: 'post',
            data: $(this).serialize(),
            success: function(data) {
              if  (data == 'empty filters') {
                $('#jsonResult').html(formatNotification(data));
              } else {
                $('#issueDisplay').html(formatIssues(data.issues));
              }
            }
          });
        });
        
        // POST
        // create new issue and display it
        $('#newIssue').submit(function(e){
          e.preventDefault();
          $(this).attr('action', "/api/issues/" + currentProject);
          $.ajax({
            type: "POST",
            url: url,
            data: $(this).serialize(),
            success: function(data) {
              let formatted = formatIssues([data._doc])
              issues.push(formatted)
              $('#issueDisplay').html(issues);
              $('#newIssue input, textarea').val('');
            },
            error: (data) => {
              const jsonParsed = JSON.parse(data.responseText);
              $('#issueDisplay').html('');
              $('#issueDisplay').prepend('<h1>Status '+data.status+ ' ' + data.statusText+'</h1>')
              for(let i in jsonParsed.errors) {
                $('#issueDisplay').append('<h2>'+jsonParsed.errors[i].message+'</h2>');
              }
            }
          });
        });    
        
        // PUT
        // by entering Id and fields
        $('#testForm2').submit(function(e) {
          e.preventDefault();
          $.ajax({
            url: url,
            type: 'put',
            data: $('#testForm2').serialize(),
            success: function(data) {
              $('#jsonResult').html(formatNotification(JSON.stringify(data)));
            }
          });
        });
        
        // PUT
        // close issue by button click
        $('#issueDisplay').on('click','.closeIssue', function(e) {
          console.log($(this))
          var $this = $(this);
          $.ajax({
            type: "PUT",
            url: url,
            data: {_id: $(this).attr('id'), open: true},
            success: function(data) { 
              $this.closest('div.issue').addClass('closed').removeClass('open');
            },
            error: function(data) {
              console.log('issue.html PUT error', data);
            }
          });
          e.preventDefault();
        });
        
        // DELETE
        // helper delete function
        const removeIssueFromDom = (target) => {
          issues.forEach(issue => {
            /*
              each issue is a string of DOM nodes, so find the issue that has a matching ID

              make sure it exists and that we are not
              targeting any other strings

              get the indexOf that issue in the issues array

              splice that issue from the array

              update the dom with the new issues array
            */
            let i = issue.indexOf(target)
            if (i != -1) {
              let issuesIndex = issues.indexOf(issue);
              issues.splice(issuesIndex, 1);
              $('#issueDisplay').html(issues.join(''));
            }
          });
        }

        // DELETE
        // By entering ID
        $('#testForm3').submit(function(e) {
          e.preventDefault();
          $.ajax({
            url: url,
            type: 'delete',
            data: $('#testForm3').serialize(),
            success: function(data) {
              if (data !== '_id error') {
                removeIssueFromDom(e.target[0].value);
              }
              $('#jsonResult').html(formatNotification(JSON.stringify(data)));
            },
            error: function(data) {
              $('#jsonResult').html(formatNotification(JSON.stringify(data.responseText)));
            }
          });
        });
        
        // DELETE
        // By button click
        $('#issueDisplay').on('click','.deleteIssue', function(e) {
          var url = "/api/issues/"+currentProject;
          e.preventDefault();

          $.ajax({
            type: "DELETE",
            url: url,
            data: {_id: $(this).attr('id')},
            success: function(data) {
              removeIssueFromDom(e.target.id);
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
        });
      });
   </script>
  </body>
</html>