* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
  font-family: Tahoma, Geneva, sans-serif;
  background: #353232;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Impact, Charcoal, sans-serif;
}

h1 {
  color: #fff;
}

li {
  list-style: none;
  margin: 6px 0;
}

input,
textarea {
  width: 100%;
  height: 33px;
  margin: 5px 0;
  border-radius: 5px;
  background: none;
  border: 1px solid;
  box-shadow: inset 0px 0px 1px #333;
  background: #fff;
}

textarea {
  height: 100px;
}

label {
  color: #fff;
}

.submit {
  height: 38px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: orange;
  opacity: .9;
  font-size: 18px;
  float: right;
  clear: both;
  position: relative;
}

.add-project__submit {
  float: none;
  top: 0px;
}

.submit:hover {
  opacity: 1
}

/* index.html */
.how-to {
  margin-left: 5%;
  margin-top: 5%;
}

.how-to h2 {
  color: #fff;
}

.how-to p {
  color: #fff;
  font-size: 18px;
}

.new-project-container {
  background: #fff;
  color: #000;
}

.add-project {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.add-project > h2 {
  margin-bottom: 24px;
}

.projects-list-container {
  margin: 20px 0;
}

.add-project__input {
  width: 50%;
  height: 36px;
  border-radius: 5px;
  border: 1px solid gray;
}

.project-list__item {
  font-size: 24px;
  font-variant: small-caps;
  text-decoration: none;
  /*color: #084d5f;*/
  color: #fff;
}

.project-list__item:hover {
  color: #000;
}


/*  issue.html */
.issue-forms-container {
  float: left;
  min-width: 30%;
}

.ifc__form {
  margin: 0 20px;
  width: 300px;
}

.form-edit {
  margin-bottom: 50px;
}

.issue-display {
  display: flex;
  flex-wrap: wrap;
}

.issue-notification {
  width: 80%;
  margin: 0 auto;
  background: lightblue;
  border-radius: 5px;
  text-align: center;
  font-size: 28px;
  /*padding: 10px;*/
  margin-bottom: 32px;
  position: relative;
}

.close-notification {
  position: absolute;
  right: 12px;
  top: 0;
  cursor: pointer;
}

.issue {
  margin: 0 20px 20px;
  padding: 5px;
  width:  43%;
  border: 2px solid black;
  background: #fff;
}

.issue > p {
  word-break: break-word;
}

.closed {
  background-color: #a38d58;
}

.id {
  font-size: 10.5px;
}

.filter {
  text-align: left;
}

.filter-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.myCheckbox {
  display: inline-block;
  vertical-align: top;
  float: left;
}

.myCheckbox input {
  /*position: relative;
  z-index: -9999;*/
  display: inline-block;
  vertical-align: middle;
  width: 20px;
}

#filter-submit {
  margin-right: 6px;
}

 #status-select {
  background: #fff; 
}

/*.myCheckbox span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  top: -43px;
  left: 25px;
}

.myCheckbox input:checked + span {
  background: green;
  display: inline-block;
  position: relative;
}

.checkmark {
  background: #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-left: 7px solid #fff;
  position: absolute;
  left: 6px;
  top: 8px;
  width: 7px;
  transform: rotate(-44deg);
}

.checkmark:before {
  content: "";
  background: #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 5px solid #fff;
  position: absolute;
  left: -10px;
  top: -4px;
  width: 2px;
  transform: rotate(84deg);
}
*/

/*  adjust jquery ui styles */

.ui-accordion-header {
  background: lightgreen;
  padding: 8px 0;
  margin: 0 0 12px 0;
  border-radius: 5px;
  cursor: pointer;
}

.ui-accordion-content {
  border: none;
}



@media screen and (max-width: 560px) {
  .issue-forms-container {
    float: none;
  }
  .issue {
    width: 100%;
    flex: 1 0 200px;
    padding: 0;
    margin: 8px 0;
  }
  .ifc__form {
    width: 100%;
    margin: 20px 0;
  }
  .submit {
    height: 30px;
  }
}